h1
{
    margin: 0 auto;
    text-align:center;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.bottomright {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.titlePadding {
    padding: 10px;
}