.title {
    text-align: left;
    font-size: 45px;
}

.subtitle {
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
}

.badge {
    font-size: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}