p {
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    text-align:center;
    width: 350px; 
     }

div.skill-list{
    font-size: 30px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    text-align:center;
    width: 250px; 

}